.aboutMain {
  width: 100vw;
  min-height: calc(100vh - 70px);
  padding: 3.5rem 1rem 1rem;
  background: var(--greyscale-6);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1rem;
  max-width: 600px;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--greyscale-8);
}

.contentTitle {
  font-weight: 400;
}

.aboutGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  max-width: 1200px;

  @media only screen and (min-width: 800px) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.contentWrapper {
  margin-top: 2rem;
  width: 100%;

  @media only screen and (min-width: 800px) {
    width: 45%;
  }
}

.content {
  color: var(--greyscale-9);
  line-height: 1.7rem;
  margin: 1.5rem 0 2rem;
}

.bulletWrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.bullet {
  padding: 0.5rem 1.3rem;
  margin: 0.5rem;
  border-radius: 500px;

  background: var(--greyscale-7);
  color: #fff;
  font-weight: 700;
}

.contact {
  font-size: 1.25rem;
  font-weight: 700;
  background: var(--brand-1);
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}